<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/places/<%= place._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">Place Name</label>
                <input class="form-control" type="text" placeholder="Place name" name="place[name]" id="name" value="<%= place.name %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" placeholder="Location" name="place[location]" id="location" value="<%= place.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="entry">Entry Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="entry-price-label">$</span>
                    <input type="text" name="place[entry]" class="form-control" placeholder="0.00" aria-label="entry-price-label" aria-describedby="entry-price-label" value="<%= place.entry%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Image Url</label>
                <textarea class="form-control" type="text" placeholder="Description" name="place[description]" id="description" required><%= place.description  %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <p class="mb-0">Add more images</p>
            <div class="mb-3">
                <label class="form-label" for="image"></label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
            <div class="mb-3">
                <% place.images.forEach((img,i)=> { %>
                <img src="<%=img.thumbnail%>" class="img-thumbnail custom-img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                </div>
                <label for="image-<%= i %>">Delete?</label>
                <% }) %> 
            </div>
            <div class="mb-3 d-inline-block">
                <button type="submit" class="btn btn-primary">Update place</button>
            </div>
            <div class="mb-3  d-inline-block">
                <a class="btn btn-secondary index-view-btn" href="/places/<%= place._id %>">Cancel</a>
            </div>
        </form>
    </div>
</div>
